.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.heading{
    font-weight: bold;
    font-size: 20px;
}
.col-heading{
    text-align: center;
    font-weight: bold;
}
.row-padding{
    padding-top: 25px;
}
.row-bottom-border{
    border-bottom: 1px solid;
    padding-top:5px;
    padding-bottom: 5px;
}
.text-center{
    text-align: center;
}