<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <!-- <ion-back-button dir="rtl"></ion-back-button> -->
      <ion-button fill="clear" (click)="navCtrl.pop()">
        <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
      </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div class="heading">اوامر العمل</div>

<div>

  <ion-row class="row-padding">
    <ion-col col-4 class="col-heading">رقم</ion-col>
    <ion-col col-4 class="col-heading">إدارة</ion-col>
    <ion-col col-4 class="col-heading">الحالة</ion-col>
  </ion-row>

  <ion-row class="row-bottom-border"></ion-row>

  <div *ngFor="let workdt of workdata">
    <ion-row>
      <ion-col col-4 class="text-center" style="color:#7E7E7E" (click)="viewWorkOrder(workdt.id)"><span>{{ workdt.updated_at }}</span><br/><br/><span class="col-heading">{{ workdt.number }}</span><br/><br/><span>{{ workdt.created_by_branch.name }}</span><br><br>(<span>{{ workdt.created_by_branch.name_en }}</span>)<br><br><span>المتبقي {{ workdt.hours_left }}</span></ion-col>
      <ion-col col-4 class="text-center">{{ workdt.aimmable.name }}</ion-col>
      <ion-col col-4 class="text-center">{{ workdt.status_name }}</ion-col>
    </ion-row>
    <ion-row class="row-bottom-border"></ion-row>
  </div>
<!--   
  <ion-row>
      <ion-col col-4 class="text-center"><span>18-11-2019</span><br/><br/><span class="col-heading" (click)="viewWorkOrder()">WO-00002</span><br/><br/><span>صامت 2</span></ion-col>
      <ion-col col-4 class="text-center">إدارة aaa</ion-col>
      <ion-col col-4 class="text-center">الحالة</ion-col>
  </ion-row> -->

</div>

<ion-row>
    <ion-col><ion-icon ios="ios-add-circle" md="md-add-circle" style="zoom:4.0;" (click)="addWorkOrder()"></ion-icon></ion-col>
</ion-row>

</ion-content>