<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="heading">الكيانات</div>
  
<div *ngFor="let ten of tenents">
  <ion-list>
    <ion-item>
      <!-- <ion-label>{{ ten?.name }}</ion-label>:الشركة -->
      <ion-label>الشركة :</ion-label>{{ ten?.name }}
    </ion-item>
    <ion-item>
      <ion-label>الاسم :</ion-label>{{ ten?.owner?.name }}
    </ion-item>
    <ion-item>
      <ion-label>رقم :</ion-label>{{ ten?.owner?.number }}
    </ion-item>
    <ion-item>
      <ion-label>البريد الإكتروني :</ion-label>{{ ten?.owner?.email }}
    </ion-item>
    <ion-item>
      <ion-label>الإشتراك :</ion-label>{{ ten?.subscriptions_count }}
    </ion-item>
    <ion-item>
      <ion-button color="success" (click)="detail(ten.id)">
        <ion-icon name="eye"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="deleteTenent(ten.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div class="margin line"></div>
</div>

<div class="pagination" *ngIf="last_page > 1">
  <a (click)="goToPage(1)">&raquo;</a>
  <a *ngFor="let page of pages" (click)="goToPage(page)" [ngClass]="{'active': page == current_page}">{{page}}</a>
  <a (click)="goToPage(last_page)">&laquo;</a>
</div>

</ion-content>