.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.submit{
    --background: green;
    color: white;
    font-weight: bold;
  }
  .margin-top{
      margin-top:10px;
  }
  .line{
    border-bottom: 1px solid rgb(97, 88, 88);
    width: 100%;
  }
  
.margin{
    margin: 10px 0px 10px 0px;
}
.heading{
    font-weight: bold;
    text-align: center;
    padding:5px 0px 5px 0px
}

.pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}