<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="heading">الإدارات</div>

  <div style="text-align: left;">
    <ion-button class="submit" (click)="addNew()">جديد</ion-button>
  </div>
  
  <div class="heading-1">الاسم</div>
  <div class="margin line"></div>

  <div *ngFor="let dep of departments">
  <div class="container">
    <div class="col">{{ dep.name }}</div> <div class="col">{{ dep.created_at }}</div>
    <div class="col-del">
      <ion-button color="danger" (click)="deleteDepartment(dep.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </div>
  </div>
  <div class="margin line"></div>
</div>
  

</ion-content>