.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.submit{
    --background: green;
    color: white;
    font-weight: bold;
    --color-activated:white;
  }
  .margin-top{
      margin-top:10px;
  }
  .line{
    border-bottom: 1px solid rgb(97, 88, 88);
    width: 100%;
  }
  
.margin{
    margin: 10px 0px 10px 0px;
}
.heading{
    font-weight: bold;
    padding:5px 0px 5px 0px;
    text-align: center;
}
.heading-1{
    font-weight: bold;
    padding:5px 0px 5px 0px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col{
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-flow: column;
        width:40%;
    }
    .col-del{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        width:20%;
    }
}