.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.heading{
    text-align: center;
    font-weight: bold;
}

.ion-button{
    --padding-end: 0;
    --padding-start: 0;
    width: 30px;
    height: 30px;
}

.submit{
    --background: green;
    color: white;
    font-weight: bold;
    height: 25px;
    --color-activated:white;
    margin-bottom: 10px;
  }
