<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
      <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="heading">الفروع</div>

  <div><ion-button class="submit" (click)="addNew()">فرع جديد</ion-button></div>
  
  <ion-row>
    <ion-col size="9" style="text-align: right;"><span style="font-weight: bold;">الاسم</span></ion-col>
    <ion-col size="3"><span style="font-weight: bold;">إجاراءات</span></ion-col>
  </ion-row>
  
  <div style="border-bottom: 1px solid;"></div>

  <ion-row *ngFor="let b of branches">
    <ion-col size="9" style="text-align: right;">
      <p>{{b.created_at}}</p>
      <p>({{b.name_en}}) {{b.name}}</p>
    </ion-col>
    <ion-col size="3">
      <p>
      <ion-button class="ion-button" color="success" (click)="editBranch(b.id,b.name,b.name_en)">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
      <ion-button class="ion-button" color="danger" (click)="deleteBranch(b.id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </p>
    </ion-col>
  </ion-row>

   
</ion-content>