.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.container{
    display: flex;
    justify-content: space-between;
    .col-1{
        //display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background:white;
        border-radius: 20px;
        padding:20px;
    }
}
.right-btn{
    --background: red;
    font-weight: bold;
    font-size: x-large;
    color: white;
    width: 125px;
}
.btn-txt{
    --background: green;
    font-weight: bold;
    font-size: x-large;
    color: white;
    width: 125px;
}
.heading{
    text-align: center;
    padding:20px;
    font-weight: bold;
    font-size: 20px;
}
.col-heading{
    text-align: center;
    font-weight: bold;
}
.col-heading-1{
    font-weight: bold;
}
.col-text{
    text-align: center;
}
.row-padding{
    padding-top: 25px;
}
.icon-align{
    vertical-align: text-top;
}
.txt-box{
    border: 3px solid;
    border-color: var(--ion-color-primary);
    background-color:var(--ion-color-secondary-contrast);
    border-radius: 5px;
    margin-top: 15px;
  }
.submit{
    --background: green;
    color: white;
    font-weight: bold;
    --background-activated:green;
    --color-activated:white;
  }
  .comments{
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 10px;
  }
  .action-sheet{
      text-align: center;
  }
  .cmt-title{
      font-weight: bold;
  }

  .div-box{
      border:1px solid;
      border-radius: 8px;
      padding: 5px;
  }