<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div>
  <div class="heading"> <ion-icon class="icon-align" name="arrow-dropdown" (click)="presentActionSheet()"></ion-icon> {{ workorders.number }}</div>
</div>

<!-- <div class="container">
    <div><ion-button class="right-btn" (click)="openModal('escalate')">تصعيد</ion-button></div>
    <div><ion-button class="btn-txt" (click)="openModal('complete')">تم</ion-button></div>
</div> -->

<div class="container" style="padding-top:20px">
  <div class="col-1">

    <ion-row>
      <ion-col col-6 class="col-heading">تاريخ</ion-col>
      <ion-col col-6 class="col-heading">فرع</ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6 class="col-text">{{ workorders.created_at }}</ion-col>
        <ion-col col-6 class="col-text">{{ branch.name }}<br/>({{ branch.name_en }})</ion-col>
    </ion-row>

    <ion-row class="row-padding">
        <ion-col col-6 class="col-heading">الاولوية</ion-col>
        <ion-col col-6 class="col-heading"> الحالة</ion-col>
    </ion-row>
    <ion-row>
          <ion-col col-6 class="col-text">{{ priority.name }}</ion-col>
          <ion-col col-6 class="col-text">{{ workorders.status_name }}</ion-col>
    </ion-row>

    <ion-row class="row-padding">
        <ion-col col-6 class="col-heading">المسؤول</ion-col>
        <ion-col col-6 class="col-heading">الوصف</ion-col>
    </ion-row>
    <ion-row>
          <ion-col col-6 class="col-text">{{ aimmable.name }}</ion-col>
          <ion-col col-6 class="col-text">{{ workorders.description }}</ion-col>
    </ion-row>

    <ion-row class="row-padding">
      <ion-col col-6 class="col-heading"></ion-col>
      <ion-col col-6 class="col-heading">المتبقي</ion-col>
  </ion-row>
  <ion-row>
        <ion-col col-6 class="col-text"></ion-col>
        <ion-col col-6 class="col-text">{{ workorders.hours_left }}</ion-col>
  </ion-row>

    <ion-row class="row-padding">
        <ion-col class="col-heading-1">ملفات مرفقة</ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-6 *ngFor="let img of workorders.uploads"><ion-img-viewer src="{{ img.serve_link }}" style="height:175px;width:100%"></ion-img-viewer></ion-col>
        <!-- <ion-col col-6><img src="../../assets/imgs/img-1.jpg"></ion-col> -->
    </ion-row>
  </div>
</div>

<!-- <ion-row>
    <ion-col><ion-icon ios="ios-add-circle" md="md-add-circle" style="zoom:4.0;" (click)="addWorkOrder()"></ion-icon></ion-col>
</ion-row> -->

<div class="comments">ملاحظات</div>
<!-- 
<ion-list *ngIf="comments?.length > 0">
  <ion-item *ngFor="let cmt of comments">
    <ion-label>{{ cmt.note }}</ion-label>
  </ion-item>
</ion-list> -->

<div *ngIf="comments?.length > 0">
  <div class="div-box" *ngFor="let cmt of comments">
    <div class="cmt-title">{{cmt?.created_by?.name}}</div>
    <div style="margin-top:10px">{{workorders?.since_then}}</div>
    <div style="margin-top:10px">{{cmt?.note}}</div>
  </div>
</div>


<div>
  <div>
    <ion-textarea class="txt-box" rows="3" [(ngModel)]="comment" placeholder="ملاحظات" name="comment" maxlength="255"></ion-textarea>
  </div>
  <div>
    <ion-button class="submit" (click)="addComment()">ملاحظة</ion-button>
  </div>
</div>


</ion-content>