<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <app-multi-file-upload></app-multi-file-upload>    
  
</ion-content>
