.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.txt-box{
    border: 3px solid;
    border-color: var(--ion-color-primary);
    background-color:var(--ion-color-secondary-contrast);
    border-radius: 5px;
  }
.form-bg{
    background:var(--ion-color-secondary);
}
.form-padding{
    padding: 20px;
}
.heading-txt{
    color:var(--ion-color-primary);
    font-weight: bold;
}
.btn-txt{
    font-weight: bold;
}
.btn-align-left{
    text-align: left;
}


