<ion-content class="ion-padding">

  <div class="logo"><img class="logo-img" src="../assets/imgs/logo.png"></div>

  <div class="txt-align div-padding heading-txt">تسجيل الدخول إلى النظام</div>

  <div>
    <form [formGroup]="loginForm" class="form-bg form-padding">
      <ion-row>
        <ion-col class="txt-color">البريد الإكتروني</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="email" [(ngModel)]="user.email" name="email" required
            pattern="[^ @]*@[^ @]*" dir="ltr"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">كلمة السر</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="password" formControlName="password" [(ngModel)]="user.password"
            name="password" required dir="ltr"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox color="primary" formControlName="isremember" [(ngModel)]="user.isremember" value=""
            name="isremember" mode="md"></ion-checkbox><span style="padding-right:10px" class="txt-color">تذكرني</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="btn-txt" (click)="loginU()">دخول</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 class="txt-color" (click)="register()">التسجيل</ion-col>
        <ion-col col-6 class="txt-color ion-text-left" (click)="forgotpass()"><span>نسيت كلمة السر؟</span></ion-col>
      </ion-row>
      <!-- <ion-row>
        
      </ion-row> -->
      <!-- <ion-row>
        <ion-col class="txt-color" (click)="resetpass()">reset password</ion-col>
      </ion-row> -->
    </form>
  </div>
</ion-content>
