<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo"><img class="logo-img" src="../assets/imgs/logo.png"></div>

  <div>
    <form class="form-padding">
      <ion-row>
        <ion-col class="txt-color" style="text-align:-webkit-center">
          <div class="success">
            <div class="dummy-positioning d-flex">
                <div class="success-icon">
                <div class="success-icon__tip"></div>
                <div class="success-icon__long"></div>
              </div>           
            </div>
          </div>
        </ion-col>
      </ion-row>

      <div style="text-align: center;padding-top: 10px;font-style: italic;">شكرا للتسجيل</div>
      <div style="text-align: center;padding-top: 20px;font-style: italic;">الرجاء إنتظار الرسالة الإكترونية حيثما نقوم بتفعيل حسابك في غضون 24 ساعة</div>
    
    </form>
  </div>
</ion-content>