<ion-app>
    <ion-menu side="start" menuId="first" contentId="content1">
        <ion-header>
          <ion-toolbar>
            <ion-title>اللائحة</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <!-- <ion-list *ngFor="let pages of navigate">
          <ion-menu-toggle auto-hide="true">
            <ion-item [routerLink]="pages.url" routerDirection="forward">
                <ion-icon [name]="pages.icon" slot="end" class="icon-padding"></ion-icon>
                   {{pages.title}}
            </ion-item>
          </ion-menu-toggle>
          </ion-list> -->
          <ion-list *ngIf="has_active_subscription != 0">
            <ion-menu-toggle auto-hide="true">
              <ion-item (click)="homePage()">
                  <ion-icon name="home" slot="end" class="icon-padding"></ion-icon>
                  الرئيسية
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list *ngIf="has_active_subscription != 0">
            <ion-menu-toggle auto-hide="true">
              <ion-item (click)="reportsPage()">
                  <ion-icon name="document" slot="end" class="icon-padding"></ion-icon>
                  تقارير
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list *ngIf="has_active_subscription != 0">
            <ion-menu-toggle auto-hide="true">
              <ion-item (click)="settingsPage()">
                  <ion-icon name="settings" slot="end" class="icon-padding"></ion-icon>
                  الإعدادت
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list *ngIf="has_active_subscription != 0">
            <ion-menu-toggle auto-hide="true">
              <ion-item (click)="newWorkOrder()">
                  <ion-icon name="add-circle" slot="end" class="icon-padding"></ion-icon>
                  طلب عمل جديد
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list>
            <ion-menu-toggle auto-hide="true">
              <ion-item (click)="logout()">
                  <ion-icon name="log-out" slot="end" class="icon-padding"></ion-icon>
                  الخروج
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-list>
          <ion-menu-toggle auto-hide="true">
              <ion-item (click)="exit()">
                  <ion-icon name="log-out" slot="end" class="icon-padding"></ion-icon>
                  إغلاق
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
