.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.div-main{
    background-color: white;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
}
.container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .div-left{
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .div-right{
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: left;
        flex-flow: column;
    }
}

.heading{
    text-align: center;
    font-weight: bold;
}
