<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
      <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="heading">صلاحيات</div>

  <div class="div-main" *ngFor="let role of roles">
    <div style="border-bottom: 1px solid;font-weight: bold;padding:5px 0px 5px 0px">{{role.display_name}}</div>
    <div class="container" *ngFor="let per of role.permissions">
      <div class="div-left" ><ion-checkbox color="primary" [checked]="per.can" (ionChange)="checkPermission(per.can, role.id, per.name)" value="" mode="md"></ion-checkbox></div>
      <div class="div-right">{{per.display_name}}</div>
   </div>
  </div>
   
</ion-content>