<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="heading">الإدارات</div>
  <ion-list>
    <ion-item>
      <ion-label>تاريخ البدء</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date_start" name="date_start" placeholder="تاريخ البدء"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>تاريخ الإنتهاء</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date_end" name="date_end" placeholder="تاريخ الإنتهاء"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>إدارة</ion-label>
      <ion-select [(ngModel)]="department" name="department" okText="حسنا" cancelText="إلغاء">
        <ion-select-option *ngFor="let dep of departments" value="{{dep.id}}">({{dep.name_en}}) {{dep.name}}</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-button class="submit" (click)="refresDepartmentReport()">تحديث</ion-button>
    </ion-item>
  </ion-list>
<div class="margin-top"></div>

<div *ngFor="let dept of departmentreport">
<ion-list>
    <ion-item>
      <ion-label>إدارة :</ion-label>{{ dept.name }}
    </ion-item>
    <ion-item>
      <ion-label>جديد :</ion-label>{{ dept[0].open_counter }}
    </ion-item>
    <ion-item>
      <ion-label>متأخر :</ion-label>{{ dept[0].delayed_counter }}
    </ion-item>
    <ion-item>
      <ion-label>تم :</ion-label>{{ dept[0].closed_counter }}
    </ion-item>
  </ion-list>
  <div class="margin line"></div>
</div>

</ion-content>