<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <form class="form-bg form-padding">
      <ion-row>
        <ion-col class="heading-txt">اشتراك جديد</ion-col>
      </ion-row>
           
      <ion-row>
          <ion-col>
            <ion-input placeholder="اشهر" class="txt-box" [(ngModel)]="months" name="months"></ion-input>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-select class="txt-box" placeholder="الباقة" [(ngModel)]="plan" name="plan" okText="حسنا" cancelText="إلغاء">
            <ion-select-option *ngFor="let pl of plans" value="{{ pl.id }}">{{ pl.name }}</ion-select-option>
          </ion-select>
        </ion-col>
    </ion-row>
    
      <ion-row>
          <ion-col col-6></ion-col>
          <ion-col col-6 class="btn-align-left"><ion-button class="btn-txt" (click)="addSubscription()">حفظ</ion-button></ion-col>
      </ion-row>
    </form>
  </div>    
  
</ion-content>