.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}

.txt-center{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background:white;
        border-radius: 8px;
        flex-flow: column;
        color:black;
    }
}

.heading{
    font-weight: bold;
    text-align: center;
}
