<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

<div style="padding-top:15px">

  <div class="heading" style="padding-top: 15px;">
    <span>التقارير</span>
  </div> 

  <div class="container" style="padding-top: 15px;" (click)="WorkorderReport()">
      <div class="col"><span>طلبات العمل</span></div>
  </div>

  <div class="container" style="padding-top: 15px;" (click)="ExecutiveReport()">
    <div class="col"><span> المدير العام</span></div>
  </div>

  <div class="container" style="padding-top: 15px;" (click)="BranchReport()">
    <div class="col"><span>الفورع</span></div>
  </div>

  <div class="container" style="padding-top: 15px;" (click)="DepartmentReport()">
    <div class="col"><span>الإدارات</span></div>
  </div>

  <!-- <div class="container" style="padding-top: 15px;" (click)="PresidentReport()">
    <div class="col"><span>President</span></div>
  </div> -->

</div>

</ion-content>