<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="heading">طلبات العمل</div>
  <ion-list>
    <ion-item>
      <ion-label>تاريخ البدء</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date_start" name="date_start" placeholder="تاريخ البدء"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>تاريخ الإنتهاء</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date_end" name="date_end" placeholder="تاريخ الإنتهاء"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-button class="submit" (click)="refresExecutiveReport()">تحديث</ion-button>
    </ion-item>
  </ion-list>
<div class="margin-top"></div>

<div *ngFor="let exerpt of executivereport">
  <ion-list>
    <ion-item>
      <ion-label>جديد :</ion-label>{{ exerpt.openCount }}
    </ion-item>
    <ion-item>
      <ion-label>متأخر:</ion-label>7
    </ion-item>
    <ion-item>
      <ion-label>تم:</ion-label>0
    </ion-item>
  </ion-list>
  <div class="margin line"></div>
</div>

</ion-content>