<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
      <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="txt-align div-padding heading-txt">مستخدم جديد</div>

  <div>
    <form [formGroup]="registerForm" class="form-bg form-padding">
      <ion-row>
        <ion-col class="txt-color">الاسم</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="name" [(ngModel)]="user.name" name="name" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">البريد الإكتروني</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="email" [(ngModel)]="user.email" name="email" required maxlength="255" pattern="[^ @]*@[^ @]*" dir="ltr"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">كلمة السر</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="password" formControlName="password" [(ngModel)]="user.password" name="password" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="txt-color">المنصب</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-select class="txt-box" formControlName="role_id" placeholder="المنصب" [(ngModel)]="user.role_id" name="role_id" okText="حسنا" cancelText="إلغاء">
                <ion-select-option *ngFor="let role of roles" value="{{role.id}}">{{role.display_name}}</ion-select-option>
            </ion-select>
        </ion-col>
    </ion-row>
      <ion-row>
        <ion-col class="txt-color">رقم الجوال</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="number" [(ngModel)]="user.number" name="number" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="txt-color">فرع</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-select class="txt-box" formControlName="branch_id" placeholder="فرع" [(ngModel)]="user.branch_id" name="branch_id" okText="حسنا" cancelText="إلغاء">
                  <ion-select-option *ngFor="let branch of branches" value="{{branch.id}}">{{branch.name}} ({{branch.name_en}})</ion-select-option>
              </ion-select>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="txt-color">إدارة</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-select class="txt-box" formControlName="department_id" placeholder="إدارة" [(ngModel)]="user.department_id" name="department_id" okText="حسنا" cancelText="إلغاء">
                  <ion-select-option *ngFor="let dep of departments" value="{{dep.id}}">{{dep.name}} ({{dep.name_en}})</ion-select-option>
              </ion-select>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 class="btn-align-left"><ion-button class="btn-txt" (click)="Save()"> حفظ </ion-button></ion-col>
    </ion-row>

    </form>
  </div>
</ion-content>