.txt-box{
    border: 3px solid;
    border-color: var(--ion-color-primary);
    background-color:var(--ion-color-secondary-contrast);
    border-radius: 5px;
  }
  .close{
    --background: red;
    color: white;
    font-weight: bold;
  }
  .submit{
    --background: green;
    color: white;
    font-weight: bold;
  }