<ion-content class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-textarea class="txt-box" rows="3" [(ngModel)]="note" placeholder="ملاحظات" name="note" maxlength="255"></ion-textarea>
    </ion-col>
</ion-row>
<ion-row>
  <ion-col col-4><ion-button class="close" (click)="closeModal()">إغلاق</ion-button></ion-col>
  <ion-col col-4><ion-button class="submit" (click)="completeOrEscalateWork()">ارسال</ion-button></ion-col>
  <ion-col col-4></ion-col>
</ion-row>
</ion-content>