<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
      <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo"><img class="logo-img" src="../assets/imgs/logo.png"></div>

  <div class="txt-align div-padding heading-txt">التسجيل</div>

  <div>
    <form [formGroup]="registerForm" class="form-bg form-padding">
      <ion-row>
        <ion-col class="txt-color">أسم المنشأة</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="business_name" [(ngModel)]="user.business_name" name="business_name" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">الاسم</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="name" [(ngModel)]="user.name" name="name" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">البريد الإكتروني</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="email" [(ngModel)]="user.email" name="email" required maxlength="255" pattern="[^ @]*@[^ @]*" dir="ltr"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">رقم الجوال</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" formControlName="number" [(ngModel)]="user.number" name="number" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">كلمة السر</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="password" formControlName="password" [(ngModel)]="user.password" name="password" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="txt-color">تأكيد كلمة السر</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="password" formControlName="password_confirmation" [(ngModel)]="user.password_confirmation" name="password_confirmation" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-checkbox color="primary" formControlName="tc" [(ngModel)]="tc" value=""
            name="tc" mode="md"></ion-checkbox><span style="padding-right:10px" class="txt-color">أوافق على شروط الخدمة</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="btn-txt" (click)="registerUser()">التسجيل</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>