.logo{
    text-align: center;
}
.logo-img{
    border-radius: 20px;
    height: 75px;
}
.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.txt-box{
    border: 3px solid;
    border-color: var(--ion-color-primary);
    background-color:var(--ion-color-secondary-contrast);
    border-radius: 5px;
  }
.form-bg{
    background:var(--ion-color-secondary);
}
.txt-color{
    color:var(--ion-color-primary);
    font-weight: bold;
}
.div-padding{
    padding: 10px;
}
.form-padding{
    padding: 20px;
}
.heading-txt{
    color:rgb(44, 43, 43);
    font-weight: bold;
    font-size: x-large;
}
.btn-txt{
    font-weight: bold;
    font-size: x-large;
}
.txt-align{
    text-align: center;
}
.txt-color{
    color:var(--ion-color-primary);
    font-weight: bold;
}
