<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="heading">معلومات</div>
  
  <ion-list>
    <ion-item>
      <ion-label>الشركة :</ion-label>{{ tenantData?.name }}
    </ion-item>
    <ion-item>
      <ion-label>الاسم :</ion-label>{{ tenantData?.owner?.name }}
    </ion-item>
    <ion-item>
      <ion-label> البريد الإكتروني :</ion-label>{{ tenantData?.owner?.email }}
    </ion-item>
    <ion-item>
      <ion-label>رقم : </ion-label>{{ tenantData?.owner?.number }}
    </ion-item>
  </ion-list>

  <div class="margin line"></div>

  <div class="heading">الإستخدام</div>
  <div class="usage">
    <div><ion-icon class="icon" name="document"></ion-icon></div>
    <div>{{ tenantData?.work_orders_count }}</div>
    <div>طلبات العمل</div>
  </div>

  <div class="margin line"></div>
  <div class="heading">الإشتراكات</div>
  <div><ion-button class="submit" (click)="addNew(tenantData.id)">اشتراك جديد</ion-button></div>

<div *ngFor="let sub of subscriptions">
  <ion-list>
    <ion-item>
      <ion-label>الباقة :</ion-label>{{ sub.plan.name }}
    </ion-item>
    <ion-item>
      <ion-label>تبدأ : </ion-label>{{ sub.starts_at }}
    </ion-item>
    <ion-item>
      <ion-label>تنتهي : </ion-label>{{ sub.ends_at }}
    </ion-item>
    <ion-item>
      <ion-button color="danger" (click)="deleteSubscription(tenantData.id,sub.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <div class="margin line"></div>
</div>

</ion-content>