<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
      <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo"><img class="logo-img" src="../assets/imgs/logo.png"></div>

  <div class="txt-align div-padding heading-txt">تغير كلمة السر</div>

  <div class="form-bg">    
      <ion-row>
        <ion-col class="txt-color">البريد الإكتروني</ion-col>
      </ion-row>
     
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text"  [(ngModel)]="user.email" name="email" required maxlength="255" pattern="[^ @]*@[^ @]*" dir="ltr"></ion-input>
        </ion-col>
      </ion-row>
     <ion-row>
        <ion-col>
          <ion-button expand="full" class="btn-txt" (click)="onForgotPass()">ارسال</ion-button>
        </ion-col>
      </ion-row>
   
  </div>
</ion-content>