.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}
.submit{
    --background: green;
    color: white;
    font-weight: bold;
    height: 25px;
    --color-activated:white;
    margin-bottom: 10px;
  }
  .margin-top{
      margin-top:10px;
  }
  .line{
    border-bottom: 1px solid rgb(97, 88, 88);
    width: 100%;
  }
  
.margin{
    margin: 10px 0px 10px 0px;
}
.heading{
    font-weight: bold;
    text-align: center;
    padding:5px 0px 5px 0px
}
.sub-heading{
    font-weight: bold;
}
.ion-button{
    --padding-end: 0;
    --padding-start: 0;
    width: 30px;
    height: 30px;
}