<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="heading">المستخدمين</div>

  <div><ion-button class="submit" (click)="addNew()">مستخدم جديد</ion-button></div>
  
<div *ngFor="let u of users">
  <ion-list>
    <ion-item>
      <ion-label class="sub-heading">{{u.display_name}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let usr of u.users">
      <ion-label>
        <ion-text> {{usr.name}} </ion-text> 
          <p>{{usr.email}}</p>
          <p>
            <ion-button *ngIf="svs.userdetail.email != usr.email" class="ion-button" slot="left" color="success" (click)="editUser(usr.id,usr.name,usr.email,u.id,usr.number)">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
            <ion-button *ngIf="svs.userdetail.email != usr.email" class="ion-button" slot="left" color="danger" (click)="deleteUser(usr.id)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div class="margin line"></div>
</div>

</ion-content>