<!-- <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="drop-zone">
  Drop files here...
</div>

<div class="file-input-container">
  <label>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
    Add Files
  </label>
</div>

<h2>Files: {{ uploader?.queue?.length }}</h2>
<br/>
<ion-list>
  <ion-reorder-group (ionItemReorder)="reorderFiles($event)" disabled="false">
    <ion-item *ngFor="let item of uploader.queue">
      <ion-label>
        {{ item?.file?.name }}
      </ion-label>
      <ion-reorder></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ion-list> -->

  <!-- <button color="secondary" ion-button (tap)="chooseFile()" block> Choose File  </button> -->
  <!-- <button color="secondary" [disabled]="fileArray.length == 0  && imageArr.length == 0" ion-button (tap)="uploadImageAndFile()" block> Upload Image/File  </button> -->

  <div>
    <form [formGroup]="workOrderForm" class="form-bg form-padding">
      <ion-row>
        <ion-col class="txt-color">الإدارات</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <ion-select class="txt-box" formControlName="department" placeholder="اختر القسم" [(ngModel)]="workorder.department" name="department" okText="حسنا" cancelText="إلغاء">
              <ion-select-option *ngFor="let dept of departments" value="{{ dept.id }}">{{ dept.name }}</ion-select-option>
            </ion-select>
          </ion-col>
      </ion-row> 
      <ng-container *ngIf="branches">
        <ion-row>
          <ion-col class="txt-color">الفرع</ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
            <ion-select class="txt-box" formControlName="created_by_branch_id" placeholder="اختر القسم" [(ngModel)]="workorder.branch" name="branch" okText="حسنا" cancelText="إلغاء">
              <ion-select-option *ngFor="let branch of branches" value="{{ branch.id }}">{{ branch.name }}</ion-select-option>
            </ion-select>
          </ion-col>
      </ion-row>
      </ng-container>
     
      
      <ion-row>
          <ion-col class="txt-color">الاولوية</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <ion-select class="txt-box" formControlName="priority" placeholder="اختر الأولوية" [(ngModel)]="workorder.priority" name="priority" okText="حسنا" cancelText="إلغاء">
                  <ion-select-option *ngFor="let prio of priorities" value="{{ prio.id }}">{{ prio.name }}</ion-select-option>
              </ion-select>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="txt-color">الوصف</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <!-- <ion-input class="txt-box" formControlName="description" type="text" [(ngModel)]="workorder.description" name="description" style="height:10px" maxlength="256"></ion-input> -->
            <ion-textarea class="txt-box" formControlName="description" [(ngModel)]="workorder.description" rows="3" name="description" maxlength="255"></ion-textarea>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="txt-color">ملفات مرفقة</ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="upload-btn-wrapper">
              <button color="secondary" class="btn" ion-button (click)="presentActionSheet()" block> انقر هنا لتحميل الصور  </button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngFor="let fileName of fileNames" size="3">
          <!-- <ion-img-viewer title="" alt="" text="" [src]="fileName.image"></ion-img-viewer> -->
          <img [src]="fileName.image" style="width:35px;height:50px;border: 1px solid;border-color: aliceblue;" />
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-6><ion-button class="right-btn" (click)="cancel()">الغاء</ion-button></ion-col>
          <ion-col col-6 class="btn-align-left"><ion-button class="btn-txt" (click)="addWorkOrder()">ارسال</ion-button></ion-col>
      </ion-row>
    </form>
  </div>