.drop-zone { 
    background-color: #f6f6f6;
    border: dotted 3px #dedddd; 
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.file-input-container {

    text-align: right;

    input[type="file"] {
        display: none;
    }

    label {
        border: 1px solid #ccc;
        padding: 6px 12px;
        cursor: pointer;
    }
}

.nv-file-over { 
    border: dotted 3px red; 
}

.txt-box{
    border: 3px solid;
    border-color: var(--ion-color-primary);
    background-color:var(--ion-color-secondary-contrast);
    border-radius: 5px;
  }
.form-bg{
    background:var(--ion-color-secondary);
}
.txt-color{
    color:var(--ion-color-primary);
    font-weight: bold;
}
.div-padding{
    padding: 40px;
}
.form-padding{
    padding: 20px;
}
.heading-txt{
    color:rgb(44, 43, 43);
    font-weight: bold;
    font-size: x-large;
}
.btn-txt{
    font-weight: bold;
    font-size: x-large;
}
.txt-align{
    text-align: center;
}
.menu-title{
    text-align: right;
}
.menu-title-image{
    width:100px;
    height: 50px;
}
.btn-align-left{
    text-align: left;
}
.right-btn{
    --background: white!important;
    font-weight: bold;
    font-size: x-large;
}
.uploadBtn{
    background: green;
    height: 20px;
    color: white;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width:100%;
  }
  
  .btn {
    border: 2px solid var(--ion-color-primary);
    color: gray;
    background-color: white;
    padding: 40px 70px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    width: 100%;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }