/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// :root {
//     direction: rtl;
//     }

    .alert-radio-icon{
        left:-10px!important;
    }
    
    .modalCss .modal-wrapper {
        width: 100%;
        height: 200px;
    }

    .custom-sheet{
        .action-sheet-cancel{
            ion-icon{
                position: absolute;
                left: 0;
            }       
        }
        .action-sheet-button{
            background: var(--ion-color-secondary);
            width: 75%;
            margin: 3px auto;
            border-radius: 30px;
            height: 40px;
            color:yellow!important;
            margin-bottom: 15px;
            span{
                justify-content: center;
            }
        }
        .action-sheet-destructive{
            background: transparent;
            width: 100%;
           // margin: 3px auto;
           // border-radius: 30px;
            height: 45px;
            margin-bottom: 20px;
            color:#000000!important;
            ion-icon{
                position: absolute;
                left: 0;
            }   
            span{
                justify-content: flex-start;
            }
        }
    }
    ion-action-sheet.custom-sheet{
        --background:lightyellow;
        --button-background:var(--ion-color-secondary);
        
    }
