<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
      <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="logo"><img class="logo-img" src="../assets/imgs/logo.png"></div>

  <div class="txt-align div-padding heading-txt">اسم العمل</div>

  <div>
    <form class="form-bg form-padding">
      <ion-row>
        <ion-col>
          <ion-input class="txt-box" type="text" [(ngModel)]="business_name" name="business_name" required maxlength="255"></ion-input>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <div class="businessNames" *ngFor="let b of businessNames">{{ b }}</div>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="btn-txt" (click)="Next()">التالي</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>