.menu-title{
    text-align: right;
}
.menu-title-image{
    width:50px;
    height: 40px;
    border-radius: 8px;
}

.txt-center{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .col-1{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 100px;
        background:green;
        border-radius: 10px;
        flex-flow: column;
        color:white;
    }
    .col-2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 100px;
        background: rgb(231, 71, 71);
        border-radius: 8px;
        flex-flow: column;
        color: white;
    }
    .col-3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 100px;
        background:yellow;
        border-radius: 8px;
        flex-flow: column;
    }
    .col-4{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 75px;
        //background:white;
        background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
        color:white;
        border-radius: 8px;
        flex-flow: column;
    }
    .col-5{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 150px;
        background:white;
        border-radius: 8px;
        flex-flow: column;
    }
    .col-6{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 150px;
        background:white;
        border-radius: 8px;
        flex-flow: column;
    }
    .col-7{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 150px;
        background:white;
        border-radius: 8px;
        flex-flow: column;
        margin-left: 40px;
    }
    .col-8{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 35px;
        background:green;
        border-radius: 8px;
        flex-flow: column;
        margin: 5px;
        color:white;
    }
    .col-9{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 35px;
        background:rgb(231, 71, 71);
        border-radius: 8px;
        flex-flow: column;
        margin: 5px;
        color:white;
    }
    .col-10{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 35px;
        background:yellow;
        border-radius: 8px;
        flex-flow: column;
        margin: 5px;
    }
    .col-11{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32%;
        height: 55px;
        background:white;
        border-radius: 8px;
        flex-flow: column;
        padding: 2px;
        margin-top: 5px;
    }
    .col-12{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 20px;
        background:green;
        border-radius: 8px;
        flex-flow: column;
        margin: 5px;
        color: white;
    }
    .col-13{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 20px;
        background:rgb(231, 71, 71);
        border-radius: 8px;
        flex-flow: column;
        margin: 5px;
    }
    .col-14{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 20px;
        background:rgb(201, 186, 186);
        border-radius: 8px;
        flex-flow: column;
        margin: 5px;
    }
}

.floatClear {
    clear: both;
  }
  .wrapper {
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    margin-top: 20px;
  }
  .wrapper .line {
    border-bottom: 1px solid rgb(97, 88, 88);
    position: absolute;
    width: 100%;
    top: 15px;
  }
  .wrapper .textbox {
    position: absolute;
    width: 100%;
  }
  .wrapper .textbox .text {
    background-color: #343a40;
    margin: 0px auto;
    padding: 0px 10px;
    text-align: center;
    display: inline;
    font-size: 24px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
  }
  .icon{
    background-color: yellow;
    margin: 0px auto;
    padding: 0px 10px;
    text-align: center;
    display: inline;
    font-size: 24px;
  }
  .text-1 {
    background-color:gray;
    margin: 0px auto;
    padding: 7px 5px 2px 2px;
    text-align: center;
    display: inline;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: white;
  }
  .nodata{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plus-icon{
    vertical-align: middle;
    padding-left: 10px;
  }