<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title class="menu-title">
      
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
  <ion-refresher slot="fixed" 
  (ionRefresh)="ionRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
   
    </ion-refresher-content>
  </ion-refresher>

<div *ngIf="president_counter != null">
    <div class="wrapper">
        <div class="line"></div>
        <div class="textbox">
          <div><span class="icon"><img src="{{ president_counter.logo }}" /></span><span class="text">الرئيس</span></div>
        </div>
    </div>

  <div class="container">
      <div></div>
      <div class="col-4" (click)="goToWorkList('president',0,'')"><span>{{ president_counter.new }}</span><span>أوامر جديدة</span></div>
      <div></div>
  </div>
</div>

<div *ngIf="executive_counter != null" style="padding-top:15px">
  <div class="wrapper">
      <div class="line"></div>
      <div class="textbox">
        <div><span class="icon"><img src="{{ executive_counter.logo }}" /></span><span class="text">المدير التنفيذي</span></div>
      </div>
  </div>
  <div class="container" style="padding-top: 15px;">
      <div class="col-3" (click)="goToWorkList('executive',0,'new')"><span style="text-align: center;">{{ executive_counter.new }}</span><span style="text-align: center;">أوامر جديدة</span></div>
      <div class="col-2" (click)="goToWorkList('executive',0,'delayed')"><span style="text-align: center;">{{ executive_counter.delayed }}</span><span style="text-align: center;">متأخر</span></div>
      <div class="col-1" (click)="goToWorkList('executive',0,'completed')"><span style="text-align: center;">{{ executive_counter.closed }}</span><span style="text-align: center;">تم</span></div>
  </div>
</div>

<div *ngIf="departments != null" style="padding-top: 15px;">
  <div class="wrapper">
      <div class="line"></div>
      <div class="textbox">
        <div><span class="icon"><ion-icon (click)="departmentList()" name="add-circle-outline" class="plus-icon"></ion-icon><img src="{{ icons.departments }}" /></span><span class="text">الإدارات</span></div>
      </div>
  </div>
  <div class="container">
      <div *ngFor="let depname of departments"><span class="icon"><img src="{{ depname.logo }}" /></span><span class="text-1">{{ depname.name }}</span></div>
  </div>
  <div class="container" style="margin-top:10px;">
      <div class="col-7" *ngFor="let department of departments"><div class="col-8" (click)="goToWorkList('departments',department.department_id,'completed')">{{ department.closed}}</div><div class="col-9" (click)="goToWorkList('departments',department.department_id,'delayed')">{{ department.delayed}}</div><div class="col-10" (click)="goToWorkList('departments',department.department_id,'new')">{{ department.new}}</div></div>
  </div>
</div>

<div *ngIf="branches != null" style="padding-top: 15px;">
  <div class="wrapper">
      <div class="line"></div>
      <div class="textbox">
        <div><span class="icon"><img src="{{ icons.branches }}" /></span><span class="text">الفروع</span></div>
      </div>
  </div>
  <div class="container">
      <div class="col-11" *ngFor="let branch of branches"><div class="col-12" (click)="goToWorkList('branches',branch.branch_id,'')">{{ branch.new }}</div><span>{{ branch.name }}</span></div>
  </div>
</div>

  <div class="container">
    <div style="padding-top:10px">
      <ion-icon ios="ios-add-circle" md="md-add-circle" (click)="addWorkOrder()" style="zoom:4.0;"></ion-icon>
    </div>
  </div>




</ion-content>