<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="heading">طلبات العمل</div>
  <ion-list>
    <ion-item>
      <ion-label>تاريخ البدء</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date_start" name="date_start" placeholder="تاريخ البدء"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>تاريخ الإنتهاء</ion-label>
      <ion-datetime displayFormat="DD-MM-YYYY" [(ngModel)]="date_end" name="date_end" placeholder="تاريخ الإنتهاء"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>الفروع</ion-label>
      <ion-select [(ngModel)]="branch_id" name="branch_is" okText="حسنا" cancelText="إلغاء">
        <ion-select-option *ngFor="let brnch of branches" value="{{ brnch.id }}">({{ brnch?.name_en }}) {{ brnch?.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>الحالة</ion-label>
      <ion-select [(ngModel)]="status" name="status" okText="حسنا" cancelText="إلغاء">
        <ion-select-option *ngFor="let sts of statuses" value="{{ sts.id }}">{{ sts.name }}</ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-button class="submit" (click)="refreshWorkOrderReport()">تحديث</ion-button>
    </ion-item>
  </ion-list>
<div class="margin-top"></div>

<div *ngFor="let wor of workorderreport">
  <ion-list>
    <ion-item>
      <ion-label>#</ion-label>{{ wor.number }}
    </ion-item>
    <ion-item>
      <ion-label>فرع :</ion-label>{{ wor.created_by_branch.name_en }} - {{ wor.created_by_branch.name }}
    </ion-item>
    <ion-item>
      <ion-label>إدارة :</ion-label>{{ wor.aimmable.name }}
    </ion-item>
    <ion-item>
      <ion-label>الاولوية :</ion-label>{{ wor.priority.name_en }} - {{ wor.priority.name }}
    </ion-item>
    <ion-item>
      <ion-label>الحالة :</ion-label>{{ wor.status_name }}
    </ion-item>
    <ion-item>
      <ion-label>تاريخ :</ion-label>{{ wor.created_at }}
    </ion-item>
  </ion-list>
  <div class="margin line"></div>
</div>

</ion-content>