<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="navCtrl.pop()">
          <ion-icon name="arrow-forward" mode="md" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title class="menu-title">
        <!-- <img class="menu-title-image" src="../assets/imgs/logo.png"> -->
    </ion-title>
    <ion-buttons slot="start">
      <img class="menu-title-image" src="../assets/imgs/logo.png">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 

<div style="padding-top:15px">

  <div class="heading" style="padding-top: 15px;">
    <span>الإعدادت</span>
  </div> 

  <div class="container tenants" *ngIf="svs?.userdetail?.is_admin == 1" style="padding-top: 15px;" (click)="tenants()">
      <div class="col"><span>الكيانات</span><span class="sub-heading">هنا يمكن لم إدارة الكيانات والإشتراكات</span></div>
  </div>

  <div class="container" style="padding-top: 15px;" (click)="users()">
    <div class="col"><span>المستخدمين</span><span class="sub-heading">إدارة مستخدمين النظام</span></div>
  </div>

  <div class="container" style="padding-top: 15px;" (click)="roles()">
    <div class="col"><span>صلاحيات</span><span class="sub-heading">إضافة، تعديل، او حذف الصلاحيات</span></div>
  </div>

  <div class="container" style="padding-top: 15px;" (click)="branches()">
    <div class="col"><span>الفروع</span><span class="sub-heading">إضافة، تعديل، او حذف الفروع</span></div>
  </div>

</div>

</ion-content>